<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>error message</title>
</head>
<style>
    h1{
        color: red;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
    }
</style>
<body>
    <h1>404 ERROR!!</h1>
</body>
</html>