<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 찾기</title>
    <link rel="shortcut icon" href="https://duatpwnd.herokuapp.com/yo/images/G-512.ico">
    <link href="https://duatpwnd.herokuapp.com/yo/common/common.css" rel="stylesheet" type="text/css">
    <link href="https://duatpwnd.herokuapp.com/yo/css/login_method.css" rel="stylesheet" type="text/css">
    <link href="https://duatpwnd.herokuapp.com/yo/common/mediaquery.css" rel="stylesheet" type="text/css">
    <style>
        section {
            padding-top: 4%;
        }
    </style>
    <script src="https://duatpwnd.herokuapp.com/yo/js/jquery-3.2.1.min.js"></script>
    <script src="https://duatpwnd.herokuapp.com/yo/js/placeholder.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="loading" v-show='loading'>
            <img id="loading-image" src="http://duatpwnd.herokuapp.com/yo/images/32.gif" alt="Loading" />
        </div>
        <header>
            <a href="phone_login.html" class="back">
                <img src="https://duatpwnd.herokuapp.com/yo/images/back.png" alt="뒤로가기" title="뒤로가기">
            </a>
            <h1>비밀번호 찾기</h1>
        </header>
        <section>
            <h3 class="email_enter">이메일 주소 입력란</h3>
            <p class="email_txt">가입하신 이메일 주소를 입력하세요. 확인 메일의 링크를 클릭하여 패스워드를 재설정 하시기 바랍니다.</p>
            <form>
                <fieldset>
                    <legend>비밀번호찾기</legend>
                    <div class="email_id">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/email_id.png" alt="이메일주소" title="이메일주소" class="email_ico">
                        <input type="text" :value="email" placeholder="가입한 이메일 주소 입력" class="user_email" v-on:input=email=$event.target.value>
                    </div>
                    <input type="button" value="비밀번호 이메일 전송" @click="passwordFind();" class="sub_btn">
                </fieldset>
            </form>
        </section>
        <footer>
            <ul>
                <li>
                    <a href="/friendMain" class="friend_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/friend.png" alt="친구" title="친구">
                    </a>
                </li>
                <li>
                    <a href="/guildtalk/chat" class="talk_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/talk.png" alt="채팅" title="채팅">
                    </a>
                </li>
                <li>
                    <a href="/guildtalk/main" class="guild_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/guild.png" alt="커뮤니티" title="커뮤니티">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script>
        new Vue({
            el: '#wrap',
            data: {
                loading: false,
                email: ''
            },
            methods: {
                passwordFind: function () {

                    const self = this;
                    const regExp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
                    const test = regExp.test(this.email);
                    if (test) {
                        self.loading = true;
                        random = Math.floor(Math.random() * 10000) + 1000;
                        if (random >= 10000) {
                            random = random - 1000;
                        }
                        axios.post('/email/password', {
                            email: this.email,
                            random: random
                        }).then(function (result) {
                            console.log(result);
                            if (result.data.result == 200) {
                                self.loading = false;
                                self.email = '';
                                alert(result.data.message + '로 메일이 전송되었습니다');
                            } else {
                                alert(result.data.message);
                            }
                        }).catch(function (error) {
                            console.log(error);
                        })
                    } else {
                        alert('유효하지 않은 형식의 이메일 주소입니다.');
                    }

                }
            }
        })
    </script>
</body>

</html>