<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>길드 만들기</title>
    <link rel="shortcut icon" href="https://duatpwnd.herokuapp.com/yo/images/G-512.ico">
    <link href="https://duatpwnd.herokuapp.com/yo/common/common.css" rel="stylesheet" type="text/css">
    <link href="https://duatpwnd.herokuapp.com/yo/css/guild_closing.css" rel="stylesheet" type="text/css">
    <link href="https://duatpwnd.herokuapp.com/yo/common/mediaquery.css" type="text/css" rel="stylesheet">
    <script src="https://duatpwnd.herokuapp.com/yo/js/jquery-3.2.1.min.js"></script>
    <script src="https://duatpwnd.herokuapp.com/yo/js/common.js"></script>
    <script>
        $(document).ready(function () {
            var data;
            // 길드 문양 이미지 //
            $('#change1').on('change', function () {
                $('.loading').css({ 'display': 'block' });
                var form = $('form')[0];
                var formdata = new FormData(form);
                var files = this.files[0];
                // 미리보기 //
                var fr = new FileReader();
                fr.onload = function (e) {
                    $('#changeView1 img').attr({ 'src': e.target.result });
                }
                fr.readAsDataURL(files);
                // 미리보기 //
                $.ajax({
                    url: '/image/upload',
                    enctype: 'multipary/form-data',
                    processData: false,
                    contentType: false,
                    data: formdata,
                    type: 'post',
                    success: function (result) {
                        $('.loading').css({ 'display': 'none' });
                        $('#upload_img').val(result);
                    }
                })
            })
            // 커버 이미지 //
            $('#change2').on('change', function () {
                $('.loading').css({ 'display': 'block' });
                var form = $('form')[1];
                var formdata = new FormData(form);
                var files = this.files[0];
                var fr = new FileReader();
                fr.onload = function (e) {
                    $('#changeView2 img').attr({ 'src': e.target.result });
                }
                fr.readAsDataURL(files);
                $.ajax({
                    url: '/image/upload',
                    enctype: 'multipary/form-data',
                    processData: false,
                    contentType: false,
                    data: formdata,
                    type: 'post',
                    success: function (result) {
                        $('.loading').css({ 'display': 'none' });
                        $('#upload_img1').val(result);
                    }
                })

            })
        })
    </script>
    <style>
        input[type='file'] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="loading">
        <img id="loading-image" src="http://duatpwnd.herokuapp.com/yo/images/30.gif" alt="Loading">
    </div>
    <div id="wrap">
        <header>
            <a href="#" class="back" onclick="back();">
                <img src="http://duatpwnd.herokuapp.com/yo/images/back.png" alt="뒤로가기" title="뒤로가기">
            </a>
            <h1>길드 만들기</h1>
        </header>
        <section class="guild">
            <form>
                <ul class="closing_box">
                    <li class="theme">
                        <label>길드문양 이미지</label>
                    </li>
                    <li>

                        <input type="file" id="change1" name="imgch1">
                        <label for="change1" class="img_ch">
                            <span id="changeView1">
                                <img src="http://duatpwnd.herokuapp.com/yo/images/gameprofile.png" alt="프로필이미지" title="프로필이미지">
                            </span>
                            <span class="ch_txt">이미지변경</span>
                        </label>
                        <img src="http://duatpwnd.herokuapp.com/yo/images/arrow1.png" alt="이미지 변경" title="이미지 변경" class="arrow_ico">
                    </li>
                </ul>
            </form>
            <form>
                <ul class="closing_box">
                    <li class="theme">
                        <label>커버 이미지</label>
                    </li>
                    <li>

                        <input type="file" id="change2" name="imgch1">
                        <label for="change2" class="img_ch">
                            <span id="changeView2">
                                <img src="http://duatpwnd.herokuapp.com/yo/images/gameprofile.png" alt="프로필이미지" title="프로필이미지">
                            </span>
                            <span class="ch_txt">이미지변경</span>
                        </label>
                        <img src="http://duatpwnd.herokuapp.com/yo/images/arrow1.png" alt="이미지 변경" title="이미지 변경" class="arrow_ico">
                    </li>
                </ul>
            </form>
            <form action="/guildtalk/guildadd" method="POST">
                <input type="hidden" id="upload_img" name="uploadimg">
                <input type="hidden" id="upload_img1" name="uploadimg1">
                <ul class="closing_box">
                    <li class="theme">
                        <label>게임명</label>
                    </li>
                    <li>
                        <a href="/gameChoice" class="g_p1">
                            <img src="http://duatpwnd.herokuapp.com/yo/images/gameprofile.png" alt="이미지 변경" title="이미지 변경" class="game_img">
                            <span class="ch_txt">게임을 선택해주세요</span>
                            <img src="http://duatpwnd.herokuapp.com/yo/images/arrow1.png" alt="이미지 변경" title="이미지 변경" class="arrow_ico">
                        </a>
                    </li>
                    <li class="theme">
                        <label for="guild_name">길드명</label>
                    </li>
                    <li>
                        <input type="text" name="guild_name" class="gamerg" placeholder="길드명을 입력하세요">
                        <img src="http://duatpwnd.herokuapp.com/yo/images/arrow1.png" alt="길드명을 입력하세요" title="길드명을 입력하세요" class="arrow_ico">
                    </li>
                    <li class="theme">
                        <label>가입방식</label>
                    </li>
                    <li>
                        <input type="checkbox" id="accept" checked value="0">
                        <label for="accept" name="only">관리자수락
                            <span class="chk1"></span>
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="join" value="1">
                        <label for="join" name="only">자유가입
                            <span class="chk1"></span>
                        </label>
                    </li>
                    <li class="theme">
                        <label for="explain">길드 설명</label>
                    </li>
                    <li>
                        <textarea rows="3" id="explain" name="guild_intro" class="intro" placeholder="길드소개를 입력하세요"></textarea>
                    </li>
                </ul>
                <input type="submit" class="closing_btn" value="길드생성">
            </form>
        </section>
        <footer>
            <ul>
                <li>
                    <a href="/friendMain" class="friend_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/friend.png" alt="친구" title="친구">
                    </a>
                </li>
                <li>
                    <a href="/guildtalk/chat" class="talk_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/talk.png" alt="채팅" title="채팅">
                    </a>
                </li>
                <li>
                    <a href="/guildtalk/main" class="guild_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/guild.png" alt="커뮤니티" title="커뮤니티">
                    </a>
                </li>
            </ul>
        </footer>
    </div>

</body>

</html>